<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.divyanshjain.indianrailwaysenquiry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".liveTrainStatus.MainActivity" />
        <activity android:name=".liveTrainStatus.LiveTrainStatus" />
        <activity android:name=".PNRStatus.PnrActivity" />
        <activity android:name=".TrainRoute.TrainRouteActivity" />
        <activity android:name=".TrainBetweenStations.TrainBetweenStationsActivity" />
        <activity android:name=".TrainBetweenStations.TrainBetweenStationsDetails"></activity>
    </application>

</manifest>